<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="script" href="{% static "base/script.js" %}">
<script src="{% static "base/script.js" %}"></script>
<link rel="stylesheet" href="{% static "base/styles.css" %}">
<link rel="icon" type="image" href={% static "images/smrlogo.jpeg" %}>

    <head>
        <title>Students' Movie Reviews</title>
    </head>
    <!-- Dark background with white text -->
    <div class="navbar">
        <!--Display navigation options left-justified in navbar -->
        <ul>
            <li>
                <img alt="logo" src={% static "images/smrwhite.png" %}>
            </li>
            <li>
                <a href="{% url 'movie-review:home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'movie-review:movie_list' %}">Movies</a>
            </li>
            <li>
                <a href="{% url 'movie-review:genre_list' %}">Genres</a>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'movie-review:favorites_list' %}"><span class="glyphicon glyphicon-log-in"></span>Favorites</a>
                </li>
                {% if user.profile %}
                <li><a href="{% url 'movie-review:profile_detail' pk=user.profile.pk%}"><span class="glyphicon glyphicon-log-in" ></span>View Profile</a>
                </li>
                {% else %}
                <li><a href="{% url 'movie-review:profile_new'%}"><span class="glyphicon glyphicon-log-in" ></span>Create Profile</a>
                </li>
                {% endif %}
                <li><a class="navbarlogin" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in" ></span>Logout</a>
                </li>
            {% else %}
                <li><a class="navbarlogin" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'movie-review:contact' %}">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
<body id="app-layout">
<div class="row">
    <div class="col-md-8">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>

