{% extends 'website/base.html' %}

{% block content %}
    <div class="list-container">
        <div class="list-wrapper">
            <div class="panel-heading">Welcome!
            <div class="panel-body">
                Students' Movie Review - Make your opinion known.
        </div>
    </div>
  {% if user.is_authenticated %}
  {% if favorite %}
  <div>
        <table class="styled-table">
            <tbody>
            <thead>
            <tr>
                <th>Favorites List</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for movie in favorite %}
                <tr>
                    <td><a href="{% url 'movie-review:movie_detail' pk=movie.pk %}">{{ movie.title }}</a></td>
                    <td><a href="{% url 'movie-review:favorite' pk=movie.pk %}"><span class="buttondeletesml">Remove Favorite</span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
      {% else %}
      <p>Add some <a href="{% url 'movie-review:movie_list' %}">movies</a> to your favorites list!</p>
      {% endif %}
          {% else %}
      <div class="panel-body">
                Please sign in to view your favorites.
      </div>
      </div>
      </div>
  {% endif %}

{% endblock %}