<!DOCTYPE html>
<html lang="en">
{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <body>
    {% if user.is_authenticated %}
        <div class="home">
            <h2 class="top-menu">Hello {{ user.username }},</h2>
            <h1>Welcome to Student Reviews</h1>
            <h2>Check out our featured movie below.</h2>
            <img src="{% static "images/batman.jpg" %}" class="resize" alt="batman">
            <h3>Batman (1989 film)</h3>
            <h3>Summary:</h3>
            <p>After witnessing the death of his beloved parents in front of his face,
                billionaire Bruce Wayne <br> vows himself to protecting the good people of Gotham City against evil forces that threaten the city. <br>
                But his vow is put to the test when he starts to wage his crime fighting crusade against the maniacal <br> Clown Prince of Crime...also known as the Joker.
            </p>
            <p><a href="{% url 'movie-review:movie_detail' pk=1 %}">Click here to see reviews for the movie</a></p>
        </div>
    {% else %}
        <div class="home">
        <h1>Welcome to Student Reviews</h1>
        <h2>Check out our featured movie below.</h2>
        <img src="{% static "images/batman.jpg" %}" class="resize" alt="batman">
        <h3>Batman (1989 film)</h3>
        <h3>Summary:</h3>
        <p>After witnessing the death of his beloved parents in front of his face,
            billionaire Bruce Wayne <br> vows himself to protecting the good people of Gotham City against evil forces that threaten the city. <br>
            But his vow is put to the test when he starts to wage his crime fighting crusade against the maniacal <br> Clown Prince of Crime...also known as the Joker.
            </p>
            <p><a href="{% url 'movie-review:movie_detail' pk=1 %}">Click here to see reviews for the movie</a></p>
        </div>
    {% endif %}
    </body>
{% endblock %}
</html>
