{% extends 'website/base.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Welcome!</div>
            <div class="panel-body">
                Student Movie Review - Make your opinion known.
            </div>
        </div>
    </div>
  {% if genres %}
  <div>
        <table class="styled-table">
            <tbody>
            <thead>
            <tr>
                <th>Genre List</th>
            </tr>
            </thead>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  {% endif %}
{% endblock %}