<!DOCTYPE html>
{% extends 'website/base.html' %}
{% block content %}
{% load mathfilters %}
{% load index %}
{% load static %}
    <body>
    <div class="list-container">
     <div class="list-wrapper">
        <div class="panel panel-primary">
            <div class="panel-heading">Welcome!
            <div class="panel-body">
                Students' Movie Review - Make your opinion known.
            </div>
        </div>
    </div>
    <div class="row">
        <h2>List of Movies</h2><br>
    </div>
    <div>
        <table class="styled-table">
            <thead>
            <tr>
                <th>Movie Name</th>
                <th>Movie Director</th>
                <th>Movie Producer</th>
                <th>Movie Date</th>
                <th>Amount of Reviews</th>
                <th>Average Rating</th>
                <th>Stars</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td><a href="{% url 'movie-review:movie_detail' pk=movie.pk %}">{{ movie.title }}</a>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.producer }}</td>
                    <td>{{ movie.date }}</td>
                    <td>{{ movie.reviews.count }}</td>
                    {% with stars=sumstars|index:forloop.counter0|getkey|div:movie.reviews.count|floatformat:0 %}
                        {% if stars > "0" %}
                            <td>{{ sumstars|index:forloop.counter0|getkey|div:movie.reviews.count|floatformat:2 }}
                        {% else %}
                            <td>There are no reviews yet.</td>
                        {% endif %}
                        {% if stars == "5" %}
                            <td>⭐️⭐️⭐️⭐️⭐️️</td>
                        {% elif stars == "4" %}
                            <td>⭐️⭐️⭐️⭐️</td>
                        {% elif stars == "3" %}
                            <td>⭐️️⭐️️⭐️️</td>
                        {% elif stars == "2" %}
                            <td>⭐️️⭐️️</td>
                        {% elif stars == "1" %}
                            <td>⭐️️</td>
                        {% else %}
                            <td>There are no reviews yet.</td>
                        {% endif %}

                    {% endwith %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
    </body>
{% endblock %}
