{% extends 'website/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <body>
    <div class="formwrapper">
    <h1>Add a New Review</h1>
    <div class="formcontent">
    <form method="POST" class="profile-form">{% csrf_token %}
         {{ form|crispy }}
        <div class="formcontent">
            {% if user.pk in movie.reviews.users %}
        <button type="submit" class="buttonadd" onclick="alert('You have already submitted a review for this movie.')">Save</button>
            {% else %}
        <button type="submit" class="buttonadd">Save</button>
            {% endif %}
        </div>
    </form>
    </div>
    </div>
    </body>
{% endblock %}
</html>