ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.summary {
  margin-right: 50%;
}
.review{
  margin-right: 50%;
  border-bottom: #111111 2px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.reviewp {
  font-size: 20px;
}
/* Button tutorial found at https://www.w3schools.com/css/css3_buttons.asp */

.buttonadd {
  background-color: green;
  border: black 2px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
}
.buttonadd:hover {
  background-color: white;
  border: green 2px solid;
  color: green;
}
.buttonedit {
  background-color: orange;
  border: black 2px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
}
.buttonedit:hover {
  background-color: white;
  border: orange 2px solid;
  color: orange;
}
.buttondelete {
  background-color: red;
  border: black 2px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
}
.buttondelete:hover {
  background-color: white;
  border: red 2px solid;
  color: red;
}


.panel-heading {
  font-family: 'Enriqueta',
  arial,
  serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}
.panel-body {
  font-family: 'Enriqueta',
  arial,
  serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}
p {
  color: #FFFFFF;
  font-family: "Helvetica Neue",
  Arial,
  sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5625;
  margin-bottom: 15px;
}
/*
Image was a free stock photo from the website:
https://unsplash.com/photos/evlkOfkQ5rE
 */
body {
  background-image: url("backgroundimage/theater.jpg");
  background-color: lightblue;
}
.resize {
  width: 400px;
  height: auto;
}
/*
CSS table styling was used from a tutorial from the website:
 https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
 this was used with slight modification.
 */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: darkslategray;
    color: orange;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
h1{
  color: #FFFFFF;
}
h2{
  color: #FFFFFF;
}
a {
  color: orange;
}
h3{
  color: #FFFFFF;
}
h4{
  color: #FFFFFF;
}
.div-1{
  background-color: white;
}
.review-form{
  color:white;
}